:root {
  --dark-theme: #1b1b1b;
  --dark-theme-bodyparts: #242424;
  --dark-theme-opacity: rgba(255, 255, 255, 0.089);
  --dark-theme-font: rgb(255, 255, 255);
  --body-light-theme: rgb(250, 249, 246);
  --nav-dark-theme-font: rgba(255, 255, 255, 0.671);
  /* --dark-theme-font-h2: rgb(255, 255, 255); */
  --dark-theme-font-h2: gold;
  /* --dark-theme-border-bottom: rgb(16, 148, 255); */
  --dark-theme-border-bottom: gold;
  --data-ui: rgba(255, 217, 0, 0.664);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin-bottom: -10px;
  display: inline-block;
  max-width: 13.5rem;
  height: 60px;
  overflow: hidden;
  font-size: 40px;
  border-bottom: 4px solid var(--dark-theme-border-bottom);
  border-radius: 2px;
}

#p {
  display: inline;
  font-size: 50px;
  color: var(--nav-dark-theme-font);
  font-family: "unbounded", sans-serif;
}
.spananimation {
  display: block;
  animation: down 7s infinite;
  font-size: 50px;
  font-family: "raleway", sans-serif;
  margin: 5px 0;
  padding-top: 0px;
  transform: translateY(-10px);
  height: 65px;
  color: var(--data-ui);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes down {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-80px);
  }
  50% {
    transform: translateY(-155px);
  }
  70% {
    transform: translateY(-220px);
  }
  100% {
    transform: translateY(-284px);
  }
}

body {
  background-color: #1b1b1b;
  /* background-color: #242424; */
  transition: 0.5s;
  overflow-x: hidden;
  color: white;
}

h2 {
  font-family: "raleway", sans-serif;
  color: var(--dark-theme-font-h2);
}

.card {
  z-index: 1;
}

#moon {
  animation: themeanimation 0.5s ease-in-out 1;
}

#topmoon {
  animation: themeanimation 0.5s ease-in-out 1;
}

@keyframes themeanimation {
  100% {
    transform: rotate(360deg);
  }
}

#mainbody {
  padding: 0;
  transition: 0.5s;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (min-width: 1460px) {
  #mainbody {
    margin-left: 20rem;
  }
}
@media only screen and (max-width: 1460px) {
  #mainbody {
    margin-left: 0;
  }
}

/* revel animation */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*top nav*/
#topNav {
  background-color: var(--dark-theme);
  
  position: fixed;
  right: 0;
  border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
  transition: 0.3s;
  width: 0vw;
  height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  gap: 1em;
  z-index: 2;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}

#topNav a:hover {
  background-color: rgba(221, 221, 221, 0.699);
  color: black;
}

.navBtnsTopNav {
  /* background-color: var(--dark-theme); */
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;

  margin: 0.9rem;
  font-size: 1.8rem;
  position: fixed;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
  overflow: visible;
}

.Topinfo {
  margin-top: -3rem;
  width: 250px;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  color: ghostwhite;
  margin-right: 10px;
  animation: lights 5s 750ms linear infinite;
}

.Topinfo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: imgHovering 2s ease-in-out infinite;
}

.topnavItems {
  width: 28%;
  height: 40%;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.topnavItems a {
  text-decoration: none;
  color: var(--nav-dark-theme-font);
  text-align: left;
  margin: 10px;
  font-size: 1.3rem;
}

.topnavItems a:hover {
  text-indent: 10px;
  width: 150px;
  border-radius: 20px;
  transition: 0.5s;
  color: var(--data-ui);
  cursor: pointer;
  word-spacing: 6px;
  background-color: rgba(22, 208, 255, 0);
}

.social a {
  margin: 1em 0.6em;
}

.Top {
  margin: 1rem auto;
}

.themecontainer{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}


/* navBar */
.rights {
  font-family: "raleway";
  font-size: 0.9em;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rights p {
  margin: 0;
  padding: 0;
}

#sideNav {
  max-width: 20rem;
  min-width: 0rem;
  min-height: 100vh;
  background-color: var(--dark-theme);
  transition: 0.5s;

  position: fixed;
  top: 0;
  z-index: 4;
  overflow: hidden;

  color: var(--dark-theme-font);
}

#hide {
  transition: 0.5s;
  background-color: var(--dark-theme);
  height: 100vh;
  width: 500px;
}

.info {
  margin: 1rem auto;
  width: 100%;
  height: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  color: ghostwhite;
  animation: lights 5s 750ms linear infinite;
}

.info img {
  border: 6px solid var(--dark-theme-opacity);
}

.info img {
  width: 40%;
  border-radius: 50%;

  animation: imgHovering 2s ease-in-out infinite;
}

#open {
  color: var(--dark-theme-font);
  display: none;
}

#close {
  font-size: 35px;
  color: var(--dark-theme-font);
  display: none;
}
.navBtns {
  width: 3.2rem;
  height: 3rem;
  /* background-color: var(--dark-theme); */
  /* background: rgb(172,182,229);*/
  /* background: radial-gradient(circle, rgba(172,182,229,1) 12%, rgba(134,253,232,1) 79%);   */
  border-radius: 50%;

  margin: 0.9rem;
  font-size: 1.8em;
  position: fixed;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}

.info:hover {
  cursor: pointer;
}

@keyframes imgHovering {
  0% {
    border: 6px solid var(--dark-theme-opacity);
  }
  50% {
    border: 6px solid rgba(0, 174, 255, 0.349);
  }
  100% {
    border: 6px solid var(--dark-theme-opacity);
  }
}

#theme {
  width: 200px;
  margin: 0 auto;
}

.themebtns {
  width: 60px;
  height: 60px;
  padding: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.themebtns .bi {
  color: white;
  font-size: 25px;
  padding-bottom: 10px;
  padding: 0;
}

.bi-sun {
  display: none;
}

.themes {
  margin: 1rem auto;
  width: 60%;
  background-color: var(--dark-theme-bodyparts);
  height: 40px;
  border-radius: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.darkblue {
  background-color: rgb(3, 3, 34);
  height: 30px;
  width: 30px;
  border-radius: 30px;
}
.orange {
  background-color: yellow;
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

.grey {
  background-color: grey;
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

/* .darkblue:hover {
  transition: 0.5s;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.orange:hover {
  transition: 0.5s;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.grey:hover {
  transition: 0.5s;
  width: 60px;
  height: 60px;
  border-radius: 60px;
} */

/* social icons */

.social {
  display: flex;
  justify-content: center;
}

.social .bi {
  margin: 1%;
  padding: 0.5em 0.7em;
  border: none;
  border-radius: 50%;
  background-color: var(--dark-theme-opacity);
  font-size: 1.3em;
  color: ghostwhite;
}

.social .bi:hover {
  transition: 0.5s;
  background-color: rgba(255, 217, 0, 0.637);
  cursor: pointer;
}

/* nav sections */

.navItems {
  width: 100%;
  height: 60%;

  display: flex;
  justify-content: center;

  flex-direction: column;
  justify-content: flex-start;

  margin-top: 2em;
}

.navItems a {
  text-decoration: none;
  color: var(--nav-dark-theme-font);

  /* margin: 10px 20px;
  font-size: 20px; */
  margin: 1em 2em;
  font-size: 1.3rem;
}

.navItems a:hover {
  text-indent: 10px;
  width: 150px;
  border-radius: 20px;
  transition: 0.5s;
  color: var(--data-ui);
  cursor: pointer;
  word-spacing: 6px;
  background-color: rgba(255, 255, 255, 0.055);
}

.social a {
  margin: 1em 0.6em;
}

.themebtns {
  background-color: var(--dark-theme-bodyparts);
  margin: 0 auto;
}

.themebtns:hover {
  transition: 0.5s;
  background-color: rgba(248, 248, 255, 0.212);
}

.beta {
  width: 100%;
  text-align: center;
  background-color: rgba(248, 248, 255, 0.205);
}

/* homepage */

.homePage {
  width: 100vw;
  height: 100vh;
  /* background-color: var(--dark-theme); */
  background-repeat: no-repeat;
  /* background-size: 500px; */

  /* background: linear-gradient(rgba(3, 9, 58, 0.418), rgba(15, 2, 49, 0.377)),
      url("img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */

  background: url(img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.homePage .greetings {
  text-align: center;
  margin: 0 2rem 8rem 0;
  color: var(--nav-dark-theme-font);
  padding: 10px;
  padding-right: 30px;
  max-width: 40rem;
  min-width: 20rem;

  animation: fadeIn 2s ease-in-out 1;
}

.homePage header {
  font-size: 3.4em;
  color: var(--nav-dark-theme-font);
  font-family: "Unbounded", cursive;
}

.homePage p {
  font-size: 1.9em;
  font-family: "Montserrat", sans-serif;
}

.homePage p span {
  font-family: "poppins", sans-serif;
  /* animation: lights 5s 750ms linear infinite; */
}

@keyframes lights {
  0% {
    color: hsl(219, 76%, 56%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 86%, 77%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(209, 72%, 52%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

@media only screen and (max-width: 600px) {
  .homePage {
    background: url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  #sideNav {
    width: 0rem;
  }
  .navBtns {
    display: none;
  }
  #open {
    display: hidden;
  }
  #close {
    display: hidden;
  }

  .navBtnsTopNav {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  #hide {
    height: 0;
  }

  #open {
    display: hidden;
  }
  #close {
    display: block;
  }
  .navBtnsTopNav {
    display: none;
  }
}

/* about me */

.main {
  width: 75vw;
  padding: 2%;
}

.aboutMe {
  padding: 2%;
  width: 75vw;
  margin: 4rem auto;
  color: white;
  background-color: var(--dark-theme-bodyparts);
}

.aboutInfo img {
  max-width: 30%;
  object-fit: cover;

  margin-right: 1em;
}

.bioData {
  width: 75%;
}

h2 {
  margin-top: 3%;
  margin-bottom: 1%;
  padding-bottom: 1%;
  width: auto;
  border-bottom: 4px solid var(--dark-theme-border-bottom);
  border-radius: 2px;
  transform: translateX(150x);
}

.aboutInfo header {
  font-family: "raleway", sans-serif;
  font-size: 1.6em;
  color: var(--dark-theme-font-h2);
  font-weight: 900;
  /* margin-left: 10px;
    margin-top: -10px; */
}

/* .introNote {
     margin-left: 10px; 
  } */

.aboutMe p {
  font-family: "manrope", sans-serif;
  font-size: 1.3em;
}

.services {
  font-family: "manrope", sans-serif;
  font-size: 0.93em;
  border-left: 3px solid var(--dark-theme-border-bottom);
  padding: 1rem;
  background-color: var(--dark-theme);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.services li {
  margin-left: 20px;
}

.aboutInfo {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.data {
  display: flex;
  flex-direction: row;
  /* margin: 20px; */
}

.webLink {
  color: rgb(134, 198, 255);
  text-decoration: none;
}

.webLink:hover {
  color: rgb(0, 153, 255);
  text-decoration: none;
}

.data i {
  font-size: 1em;
  color: var(--dark-theme-font-h2);
}

.data1,
.data2 {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.data span {
  font-family: raleway;
  margin-right: 0.4em;
}

@media only screen and (max-width: 1456px) {
  .homePage header {
    font-size: 2.4em;
  }

  .homePage p {
    font-size: 1.4em;
  }

  .main {
    width: 90vw;
    font-size: 1.4em;
  }

  .aboutInfo img {
    max-width: 50%;
    object-fit: cover;

    margin-bottom: 1em;
  }

  .aboutMe p {
    font-family: "manrope", sans-serif;
    font-size: 0.9em;
  }

  .aboutInfo {
    flex-direction: column;
    align-items: center;
  }
  .data {
    flex-direction: column;
  }

  .data1,
  .data2 {
    margin: 0;
  }
}

/* skills */

.skills {
  background-color: var(--dark-theme);
  padding: 0.5%;
  border-radius: 20px;
}

.barStats {
  width: 98%;
  margin-left: 10px;
  margin-bottom: -30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barStats p {
  font-family: "poppins", sans-serif;
  color: var(--dark-theme-font-h2);
  font-size: 15px;
}

.progress {
  margin: 10px;
}

.progress-bar {
  background-color: var(--data-ui);
}

/* resume */

.resume {
  margin: 0 auto;
  background-color: var(--dark-theme-bodyparts);
  padding: 2%;
  font-family: "manrope", sans-serif;
  font-size: 1.3em;
  margin-bottom: 4rem;
}

.resume header {
  font-family: "raleway", sans-serif;
  font-size: 1.3em;
  color: var(--dark-theme-font-h2);
  font-weight: 900;
}

h3 {
  font-size: 1em;
  font-weight: 900;
  color: white;
}

.resumeElements {
  border-left: 3px solid var(--dark-theme-border-bottom);
  padding: 1rem;
  background-color: var(--dark-theme);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* projects */

/* @media only screen and (min-width: 1456px) {
    .projectSec {
      width: 75vw;
    }
  } */

.projectSec {
  width: 75vw;
  height: auto;

  margin: 0 auto;
  background-color: var(--dark-theme-bodyparts);
  padding: 2%;
}
@media only screen and (max-width: 1456px) {
  .projectSec {
    width: 90vw;
  }
}

.projectSec h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.grid {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h3 {
  color: var(--dark-theme-font);
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h3 span {
  font-weight: 800;
}

.grid figure h3,
.grid figure p {
  margin: 0;
}

.grid figure p {
  color: #ffffffc0;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 68.5%;
  font-family: "Unbounded", sans-serif;
}

figure.effect-goliath {
  /* background: #df4e4e; */
  background: var(--dark-theme);
}

figure.effect-goliath img,
figure.effect-goliath h3 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-goliath img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-goliath h3,
figure.effect-goliath p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
}

figure.effect-goliath p {
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}

figure.effect-goliath:hover img {
  -webkit-transform: translate3d(0, -80px, 0);
  transform: translate3d(0, -80px, 0);
  opacity: 0.7;
}

figure.effect-goliath:hover h3 {
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
}

figure.effect-goliath:hover p {
  opacity: 1;
  color: white;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "codropsicons";
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/codropsicons/codropsicons.woff") format("woff"),
    url("../fonts/codropsicons/codropsicons.ttf") format("truetype"),
    url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

/* footer */

.connect {
  width: 100vw;
  height: 60vh;
  background-color: var(--dark-theme);

  margin: 0 auto;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--dark-theme-font);
}

.connect header {
  font-size: 3em;
  font-family: Montserrat, sans-serif;
}

.connect p {
  font-family: "poppins", sans-serif;
  font-style: italic;
  animation: lights 5s 750ms linear infinite;
}

#connect p:hover {
  transition: 0.5s;
  color: gold;
  word-spacing: 1px;
}

.footerSocial {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 2em;
  align-items: center;
  justify-content: space-around;
  width: 10em;
}

.footerSocial i {
  color: rgba(255, 255, 255, 0.541);
  padding: 0.3em 0.5em;
  border-radius: 50%;
  transition: 0.3s;
}

@media only screen and (max-width: 600px) {
  .connect header {
    font-size: 2em;
    font-family: Montserrat;
  }
  .footerSocial {
    margin-left: -10px;
  }

  .bioData header {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 700px) {
  .homePage #p {
    font-size: 2em;
  }

  .homePage .spananimation {
    font-size: 2rem;
    padding: 0;
    margin: 27px auto;
    height: 50px;

    transform: translateY(-17px);
    animation: downsmall 7s infinite;
  }

  .size {
    font-size: 3rem;
  }
  .homePage .wrapper {
    width: 140px;
  }
  @keyframes downsmall {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(-90px);
    }
    50% {
      transform: translateY(-170px);
    }
    70% {
      transform: translateY(-247px);
    }
    100% {
      transform: translateY(-310px);
    }
  }

  .bioData header {
    font-size: 1.4rem;
  }
  .footerSocial {
    gap: 0.1rem;
  }

  .aboutMe,
  .resume,
  .projectSec {
    padding: 2%;
  }

  .aboutMe p {
    font-size: 0.8em;
  }

  .resume p {
    font-size: 0.85em;
  }

  .bioData {
    width: 100%;
  }
  .data1,
  .data2 {
    margin: 0;
    padding: 0;
  }
}

.connect i {
  padding: 0.4em 0.6em;
  box-shadow: inset 0 0 0 0 rgba(255, 217, 0, 0.151);
  color: gold;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.connect i:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 rgba(255, 217, 0, 0.63);
}

.connect i {
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}
